body{
    overflow-y:hidden;
    margin:0;
  }
  .col-lg-12 {
      background:blue;
  }
  .col-lg-4 {
      background:rgb(56, 27, 43);
      float:left;
      width:50%;
      height:100vh;
      overflow-y:scroll;
  }
  .col-lg-8 {
      background: orange;
      float:left;
      width:50%;
      height:100vh;
  }
  .footer {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 0px;
    z-index: 12;
    background-color: rgb(134, 147, 158);
    position: fixed;
    bottom: 0;
  }